.sponsor {
  margin: 40px;
}

.sponsors-logo {
  max-width: 80%;
  max-height: 40%;

  @media only screen and (max-width: 992px) {
    max-width: 100%;
  }

  .a_button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
}
