<div class="container section center-align">
  <h1 class="truncate">{{ 'sponsor.sponsors' | translate }}</h1>
  <div class="row">
    <div *ngFor="let sponsor of sponsors$ | async" class="col s12 m3 sponsor-item">
      <a target="_blank" rel="noopener noreferrer" [href]="sponsor.link">
        <img class="sponsor-item-logo" [src]="sponsor.logoUrl" [alt]="sponsor.name">
      </a>
    </div>
  </div>
  <br>
  <a id="become-sponsor-button" target="_blank" rel="noopener noreferrer"
    class="btn-large waves-effect become-sponsor-button">
    {{ 'sponsor.become-sponsor' | translate }}
  </a>
</div>