@import '../../../styles-mat-variables';

.sponsor-item {
  height: 130px;
  padding-top: 30px;

  @media #{$medium-and-up} {
    height: 150px;
    padding-top: 50px;
  }

  &-logo {
    max-width: 100%;
    max-height: 100%;
  }
}
