<div class="parallax-container">
  <div swParallax class="parallax"><img src="assets/images/home/participants-background.jpg"></div>
    <div class="container center-align">
      <h3 class="white-text">Quienes pueden participar?</h3>
      <div class="row">
        <div class="col s6"><h5 class="white-text">Emprendedores</h5></div>
        <div class="col s6"><h5 class="white-text">Desarrolladores</h5></div>
        <div class="col s6"><h5 class="white-text">Estudiantes</h5></div>
        <div class="col s6"><h5 class="white-text">Disenadores</h5></div>
        <div class="col s6"><h5 class="white-text">Finanzas</h5></div>
        <div class="col s6"><h5 class="white-text">Mercadotecnia</h5></div>
      </div>
      <a class="call-to-action btn-large">Mas Informacion</a>
    </div>
</div>

