<div class="parallax-container">
  <div swParallax class="parallax"><img src="assets/images/home/parallax1.jpg"></div>
  <div class="container">
    <div class="card-panel teal lighten-2"><h4>who-can-participate works!</h4></div>
    <div class="row">
      <div class="col s6">Emprendedores</div>
      <div class="col s6">Desarrolladores</div>
      <div class="col s6">Estudiantes</div>
      <div class="col s6">Disenadores</div>
      <div class="col s6">Finanzas</div>
      <div class="col s6">Mercadotecnia</div>
      <div class="col s6"></div>
    </div>
    <a class="call-to-action btn-large">Obtener Ticket</a>
  </div>
</div>

