@import '../../../styles-colors.scss';
@import '../../../styles-mat-variables.scss';

#countdown-title {
  color: $primary-color;;
}

.card-content {
  background: $primary-color;
}

.card-text {
  text-align: center;
  font-weight: bold;
}
