<div class="container section center-align">
  <ng-container *ngIf="!eventAlreadyStarted">
    <h3 class="section-title">{{ 'countdown.title' | translate}}:</h3>
    <div class="hide-on-small-only">
      <div class="row">
        <div class="col s3">
          <div class="card" data-aos="fade-up" data-aos-easing="ease">
            <div class="section">
              <h4>{{ daysRemaining | twoDigitsTransform }}</h4>
            </div>
            <div class="card-content">
              <span class="highlight-text">{{ 'countdown.days' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card" data-aos="fade-up" data-aos-easing="ease">
            <div class="section">
              <h4>{{ hoursRemaining | twoDigitsTransform }}</h4>
            </div>
            <div class="card-content">
              <span class="highlight-text">{{ 'countdown.hours' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card" data-aos="fade-up" data-aos-easing="ease">
            <div class="section">
              <h4>{{ minutesRemaining | twoDigitsTransform }}</h4>
            </div>
            <div class="card-content">
              <span class="highlight-text">{{ 'countdown.minutes' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card" data-aos="fade-up" data-aos-easing="ease">
            <div class="section">
              <h4>{{ secondsRemaining | twoDigitsTransform }}</h4>
            </div>
            <div class="card-content">
              <span class="highlight-text">{{ 'countdown.seconds' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hide-on-med-and-up">
      <div class="row">
        <div class="col s12">
          <div class="card section" data-aos="fade-up" data-aos-easing="ease">
            <b class="truncate">
              {{ 'countdown.days' | translate }}: {{ daysRemaining | twoDigitsTransform }} |
              {{ 'countdown.hours' | translate }}: {{ hoursRemaining | twoDigitsTransform }} |
              {{ 'countdown.minutes' | translate }}: {{ minutesRemaining | twoDigitsTransform }}
            </b>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="eventAlreadyStarted">
    <h3 class="section-title">{{ 'countdown.event-started' | translate }}</h3>
  </ng-container>
</div>
