<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Startup Weekend Cochabamba</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Nuestras Redes</h5>
        <ul>
          <li *ngFor="let socialLink of socialLinks"><a class="grey-text text-lighten-3" [href]="socialLink.link" target="_blank" rel="noopener noreferrer">{{ socialLink.name }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{currentYear}} Copyright Startup Weekend Cochabamba
    </div>
  </div>
</footer>