<div class="container section center-align">
  <div class="row">
    <h3 class="section-title">{{ 'event.events' | translate }}</h3>
    <div *ngFor="let event of events$ | async" class="col s12 m3">
      <div class="card" data-aos="fade-up" data-aos-easing="ease">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" [src]="event.logoUrl" [alt]="event.name">
        </div>
        <div class="card-content">
          <span class="card-title activator">
            {{ event.name }}
            <i class="fas fa-angle-up right"></i>
          </span>
          <p>{{ event.date.toDate() | date : 'mediumDate' : undefined : languageService.currentLanguage }}</p>
          <p>{{ event.place }}</p>
          <a [href]="event.link" target="_blank" rel="noopener noreferrer">{{ 'event.read-more' | translate }}</a>
        </div>
        <div class="card-reveal">
          <span class="card-title">
            {{ event.name }}
            <i class="fas fa-angle-down right"></i>
          </span>
          <p>{{ languageService.currentLanguage === 'es' ? event.descriptionSp : event.descriptionEn }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
