<div swTransparentNavbar class="parallax-container top-section valign-wrapper">
  <div class="banner-container right-align">
    <div class="container">
      <div class="row">
        <img src="assets/images/home/logo.svg" width="500" height="100" alt="Startup Weekend">
        <h1 class="white-text">{{ 'banner.slogan' | translate }}</h1>
        <h4 class="white-text">{{ 'banner.place-and-date' | translate }}</h4>
        <br>
        <a class="btn-large waves-effect">
          {{ 'banner.call-to-action' | translate }}
        </a>
      </div>
    </div>
  </div>
  <div swParallax class="parallax">
    <img src="assets/images/home/banner-background.jpg">
  </div>
</div>