@import './styles-colors';
@import '../node_modules/aos/dist/aos.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/materialize-css/sass/materialize';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

sw-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-section {
  position: relative;
  z-index: 997;
}
