#layer {
  background-color: rgba(95, 0, 237, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.title-about-color {
  color: #5F00ED;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-about-color {
  font-size: 16px;
  font-weight: bold;
}
.padding-about-top {
  padding-top: 180px;
}