#layer {
  background-color: rgba(100, 181, 246, 0.45);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.title-about-color {
  color: #64B5F6;
  font-size: 20pt;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-about {
  font-size: 15pt;
  font-weight: normal;
}
.padding-about-top {
  padding-top: 180px;
}