@import '../../../styles-colors';
@import '../../../styles-mat-variables';

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: none;
}

#navbar-background {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 56px;
  background-color: $primary-color;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  @media #{$medium-and-up} {
    height: 64px;
  }
}

.sidenav {
  z-index: 1001;
}

.language-mobile-align {
  float: right;
  margin-right: 15px;
}
