<div class="container">
  <div class="row">
    <p class="center-align">{{ 'home.metrics.title' | translate }} </p>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title">{{ 'home.metrics.versions' | translate }} </p>
            <h5 class="text-description">{{ metricsValue.versions }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title">{{ 'home.metrics.participants' | translate }} </p>
            <h5 class="text-description">{{ metricsValue.participants }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title">{{ 'home.metrics.projects' | translate }} </p>
            <h5 class="text-description">{{ metricsValue.projects }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title">{{ 'home.metrics.ideas' | translate }} </p>
            <h5 class="text-description">{{ metricsValue.ideas }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
