<agm-map [latitude]="eventLocationInfo.latitude" [longitude]="eventLocationInfo.longitude" [zoom]="zoom"
  [scrollwheel]="false" [clickableIcons]="false" [mapDraggable]="false" [streetViewControl]="false"
  [draggableCursor]="'default'" [disableDoubleClickZoom]="false" [zoomControl]="false">
  <agm-marker [latitude]="eventLocationInfo.latitude" [longitude]="eventLocationInfo.longitude">
    <agm-info-window [isOpen]="true">
      <a [href]="mapUrl" target="_blank" rel="noopener noreferrer">
        <h6>{{ eventLocationInfo.eventName }}</h6>
      </a>
      <p>{{ eventLocationInfo.placeName }}</p>
      <p>{{ eventLocationInfo.city }}</p>
      <p>{{ eventLocationInfo.country }}</p>
    </agm-info-window>
  </agm-marker>
</agm-map>
